<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentação</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <h1 class="titulo txtcentral">Apresentação</h1>
    
    <div>
    <p><b>Nome:</b> Talita</p> 
    <p><b>Idade:</b> 31</p>
    <p><b>Bicho de Estimação:</b> Cachorros e gatos</p> 
    </div>

    <button type="submit" class="btn-enviar">Formulário</button>
</body>
</html>